
/* .row{
    background-image: url("../img/55384365-humanos-y-aves-pies-patrón-transparente-de-perros-y-gatos-patas-colorido-vector-de-fondo.webp");
    padding-bottom: 50px;
}
.card{
    padding: 10px;
    position: fixed;
} */

.Common-module--section--z5uyA {
  display: grid;
  grid-template-columns: minmax(auto,1280px);
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.media-body{
    float: left;

}

.container{
    border: 1px solid;
    padding: 10px;
    background-color: mediumseagreen ;

}
.products{
    background-color: white;

}
.footer{
  width: 100%;
  height: 100%;
}

.container-products-historial{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  right: 1px;

}

.products-historial{
  border: 1px solid;
  padding: 10px;
  background-color: white;
}

.products-historial img{
  float: left;
}
.container-historial{
  border: 1px solid;
  padding: 10px;
  background-color: white;
}

.product__description-seguimiento{
  padding: 100px;
}

.products-seguimiento{
  border: 1px solid;
  padding: 10px;
  background-color: white;
}

.products-seguimiento img{
  float: left;
}

.tabla{
  background-color: white;
  padding: 20px;
  background-image: url("../img/depositphotos_23225418-stock-illustration-footprint-of-cat-and-dog.jpg");
}



/* video */
.main{
    padding: 20px;
    background-image: url("../img/depositphotos_23225418-stock-illustration-footprint-of-cat-and-dog.jpg");
}

.container-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    right: 1px;

}

.products{
    border: 1px solid;
    padding: 10px;
}

/* .products button{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 200px;

}

.product__description{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
 */

/* contadores */
 /* .product-count {
    position: absolute;
    top: 25%;
    left: 45%;
    height: 30px;
  }
  
  .product-count a {
    text-decoration: none;
    font-weight: 700;
    color: black;
  } */
  


  .button-count {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #2196F3;
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    border: none;
    outline: none;
  }
  .button-count:active {
    background-color: #1565C0;
  }
  
  .number-product {
    display: inline-block;
    width: 46px;
    height: 28px;
    font-size: 24px;
    border: 1px solid silver;
    text-align: center;
  }
  
  :disabled {
    background-color: silver;
  }
  
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }


  .modal-body h5{
    border: 1px solid;
    padding: 10px;

  }

  .card{
    position: center;
  }
 
  .main{
    padding: 20px;
    
  }


.bg-green{
 background-color: green; 
}


